@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=BBH+Sans+Hegarty&family=Michroma&display=swap');

* {
    margin: 0;
}

.fnb {
    height: 30vh;
    background-image:linear-gradient(to right, rgba(255,185,0,1.0) 0%, rgba(255,185,0,0.3)40%, rgba(255,185,0,0.1)70%, rgba(255,185,0,0.0)100%), url(fnb.png);
    background-size: cover;
    display:flex;
    align-items: center;
}

.fnb h1 {
    font-family: Akaya Telivigala, system-ui;
    color: white;
    font-size: 100px;
    margin-left: 3%;
}

.btn1 {
    border: 2px solid #EAB60C;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    background: transparent;
    color: #EAB60C;
    width: 60px;
    height: 60px;
    margin-top: 10px;
    margin-left: 20px;
}

textarea {
    font-family: Akaya Telivigala;
    border: 2px solid #EAB60C;
    border-radius: 10px;
    position: relative;
    height: 50px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    font-size: large;
    color: #EAB60C;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

textarea:focus, text:focus{
    outline: none;
    border-color: #EAB60C;
}

textarea::placeholder {
    color: #EAB60C;
    font-size: x-large;
    opacity: 0.7;
}

.inpt1 {
    bottom: 8vh;
    left: 13vh;
    width: 90.5%;
    height: 30px;
    padding-top: 10px;
}

.inpt2 {
    bottom: 5vh;
    left: 3vh;
    width: 95.3%;
    height: 30px;
    padding-top: 10px;
}

.inpt3 {
    bottom: 2vh;
    left: 3vh;
    width: 95.3%;
    height: 30px;
    padding-top: 10px;
}

.upload-box {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    width: 96.7%;
    height: 100px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dashed #EAB60C;
    margin-left: 22px;
    margin-right: 10px;
    background: rgba(255,185,0,0.3) 37%;
}

#uploadText {
    font-family: Akaya Telivigala;
    font-size: xx-large;
    color: rgba(255,185,0,0.5) ;
}

#fileInput {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

#previewImage {
    width: 100%;
    height: 100%;
    display: none;
    object-fit: cover;
}

.btn2 {
    border: 2px solid #EAB60C;
    border-radius: 999px;
    background: transparent;
    font-family: Akaya Telivigala;
    color: #EAB60C;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    left: 188vh;
    font-size: xx-large;
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    -ms-border-radius: 999px;
    -o-border-radius: 999px;
}

#previewImage {
    width: 160px;
    height: 100px;
    display: none;
    position: relative;
    right: 43%;
    top: 120%;
    border-radius: 20px;
    object-fit: cover;
}

.btn1:hover {
    border: transparent;
    background: #EAB60C;
    color: white;
}

.btn2:hover {
    border: transparent;
    background: #EAB60C;
    color: white;
}